

body {
  
  color: white;
}



/* NAVBAR */
.navbar{
  background-color: #2A2F4F;
  /* color: #000000; */
  
}
.navbar-brand{
  font-size: 1.7rem;
  /* color: #5800FF; */
  color: #FFE400;
}
.navbar-brand img{
  margin: 0;
}


/* .site-name {
  color: var(--logo-color);
  position: absolute;
  top: 0;
} */

#search-bar {
  height: 40px;
  width: 40vw;
  margin-left: 199px;
}

form {
  width: inherit;
  background-color: #4D455D;
  border-radius: 50px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
body::-webkit-scrollbar {
  display: none;
}

input {
  text-align: center;
  font-size: 2rem;
  width: 90%;
  height: 2.5rem;
  outline: none;
  padding: 1.5rem;
  border: 0;
  background-color: transparent;
  color: white;
}

::placeholder {
  opacity: 0.7;
  color: white
}

/* #search-btn {
  height: 2.9rem;
  width: 4.5rem;
  border: transparent;
  background-color: var(--logo-color);
} */

/* .search-icon {
  font-size: 25px;
  color: var(--search-icon-color);
} */

#show-favourites {
  display: none;
  font-size: 1.7rem;
}

/* MAIN SECTION */

#main-section {
  min-height: 89vh;
  width: 65%;
}


h2 {
  padding-left: 0.5rem;
  margin: 2% 4%;
  /* color: var(--logo-color); */
  color: #FFE400;
}
#parent-container{
  background-image: url(./images/banner2.jpg);
  background-position: center;
  background-size: cover;
  /* opacity: 0.5; */
  /* z-index: 100; */
}

#Suggestions-container {
  min-height: 100%;
  justify-content: center;
  padding: 2rem;
}

/* card  */

a {
  box-sizing: border-box;
}

#card-container {
  z-index: 200;
  /* opacity: 1; */
  width: inherit;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.card {
  border: transparent;
  background-color: #413543;
  width: 10rem;
}

.card > img:hover {
  opacity: 0.8;
  cursor: pointer;
}

.card-title {
  font-size: medium;
  font-weight: 500;
}

.card-title a {
  text-decoration: none;
  color: white;
}

.card-title a:hover {
  text-decoration: underline;
}

.card-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}

.fa-star {
  color: var(--logo-color);
}

.text-decoration {
  text-decoration: none;
}

#rating {
  color: white;
  font-size: small;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.fav-btn {
  border: transparent;
  background-color: transparent;
  text-align: center;
}

.fa-heart {
  color: lightgrey;
}

.fa-heart:hover {
  color: #ec0638;
}

/* FAVORITES SECTION */

#favorites-section {
  width: 33%;
  height: 100vh;
  background-color: var(--favourite-section-color);
  background: transparent;
  z-index: 1;
  flex-direction: column;
  overflow-y: scroll;
}

#empty-fav-text {
  margin-top: 40%;
  margin-left: 15%;
}

#fav-movies-container {
  /* overflow-y: scroll; */
  width: 90%;
  height: 90%;
  margin-top: 53px;
}

/* Scrollbar customisation */

#fav-movies-container::-webkit-scrollbar {
  width: 5px;
}

/* Track */
#fav-movies-container::-webkit-scrollbar-track {
  border-radius: 20px;
}

/* Handle */
#fav-movies-container::-webkit-scrollbar-thumb {
  border-radius: 20px;
}

.fav-movie-card {
  padding-right: 1rem;
  width: 95%;
  /* background-color: var(--fav-movie-card-color); */
  background-color: #19376D ;

  border-radius: 10px;
  overflow: hidden;
}

.fav-movie-poster {
  width: 80px;
  height: 100px;
  margin-right: 5px;
}

.fav-movie-name {
  text-decoration: none;
  color: #000000;
}
.text-muted{
  color: #000000 !important;

}

.fav-movie-name:hover {
  color: white;
  text-decoration: none;
}

.movie-card-details {
  width: 60%;
}

.delete-btn {
  cursor: pointer;
  font-size: 1.5rem;
}





/* Responsiveness */
@media screen and (max-width:1270px){
  .yel-fav{
    display: none;
  }
  
}

@media screen and (max-width: 1200px) {
  #card-container {
    grid-template-columns: repeat(3, 1fr);
  }
  
}


@media screen and (max-width: 992px) {
  #card-container {
    grid-template-columns: repeat(4, 1fr);
  }

  #favorites-section {
    width: 40vw;
    height: 100vh;
  }

  #card-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .card {
    width: 8rem;
  }
}
@media screen and (max-width: 790px) {
  #search-bar{
    display: none;
  }
}

@media screen and (max-width: 768px) {
  /* .site-name {
    display: none;
  } */
 

  #favorites-section {
    display: none;
    position: absolute;
    right: 0;
    width: 60vw;
    height: 100vh;
    z-index: 500;
  }

  #show-favourites {
    padding-right: 1rem;
    display: block;
    position: absolute;
    right: 0;
    
  }

  #main-section {
    min-height: 100vh;
    width: 100vw;
  }

  #card-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 576px) {
  #search-bar {
    margin-left: 3%;
    height: 35px;
    width: 55vw;
    padding-bottom: 2.5rem;
  }

  #show-favourites {
    padding-right: 0.1rem;
  }

  #card-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .card {
    width: 9rem;
  }

  #favorites-section {
    width: 100vw;
    height: 100vh;
  }
}
